.root {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--color-header-bg);
    padding: calc(var(--vertical-grid-size) / 4);
}

.nav {
    display: flex;
    gap: .5rem;
}

.active {
    text-decoration: underline;
}
